@import '@fontsource/poppins';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--txt-1: hsl(220 10% 98%);
	--bg-1: hsl(220 20% 10%);
	--bg-2: hsl(220 20% 20%);
	--border: hsl(180 100% 50%);
	--pulse: hsl(9 100% 64%);

    --surge-light-blue: #568cdb;
    --surge-dark-blue: #1c307a;
    --surge-yellow: #ffca61;
    --surge-light-orange: #faaf40;
    --surge-orange: #ff7e1e;
    --surge-light-grey: #e2e2e2;
    --surge-grey: #a0a0a0;
    --surge-dark-grey: #303030;
}

html,
body {
	height: 100%;
}

body {
	display: grid;
	place-content: center;
    overflow-y: hidden;
	font-family: 'Poppins', sans-serif;
	color: var(--txt-1);
	background-color: var(--bg-1);
}

h2{
    font-size: 2rem;
}

h1, h3, h2, p {
    text-align: center;
}

.flex{
    display: flex;
}

.centre{
    text-align: center;
}

#stage{
    position: absolute;
    left: 30%;
}

.playActive *{
    visibility: visible;
    opacity: 1;
}

.playActive{
    visibility: visible !important;
    opacity: 1 !important;
}

.UI{
    z-index: 2;
}

table{
    border: 1px white solid;
    border-radius: 20px;
    overflow: hidden;
    border-spacing: 0;

    top: 20%;

    position: absolute;
    transition: left 1s;
}

.pointsTable{
    left: calc(32.5% + 600px);
}

.leaderBoard{
    left: calc(27.5% - 325px);
    width: 18vw;
    min-width: 325px;
}

th{
    padding: 10px 0px;
    text-align: center;
    width: inherit;
    h2{
        width: fit-content !important;
    }
}

.canvas, .pointsTable{
    opacity: 1;
    transition: opacity 1s .5s;
}

tbody{
    td{
        padding: 5px 20px;
    }

    tr:nth-child(odd){
        background-color: var(--bg-2);
    }
    
    tr:nth-child(even){
        background-color: var(--bg-1);
    }

    .icon{
        width: 30px;

        img{
            width: 25px;
            height: 25px;
        }
    }
}

.hoverClose{
    left: 16%;
}

@media (max-width: 1440px) {
    .leaderBoard {
        left: calc(25% - 265px);
    }

    .hoverClose {
        left: calc(30% - 22vw);
    }
}

@media (max-width: 800px) {
    .leaderBoard {
        top: 1100px;
        left: calc(55vw);
    }

    .hoverClose { 
        left: calc(55vw);
    }

    .pointsTable {
        visibility: hidden;
    }
}

.invisible{
    opacity: 0;
}