@import '@fontsource/poppins';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--txt-1: hsl(220 10% 98%);
	--bg-1: hsl(220 20% 10%);
	--bg-2: hsl(220 20% 20%);
	--border: hsl(180 100% 50%);
	--pulse: hsl(9 100% 64%);

    --surge-light-blue: #568cdb;
    --surge-dark-blue: #1c307a;
    --surge-yellow: #ffca61;
    --surge-light-orange: #faaf40;
    --surge-orange: #ff7e1e;
    --surge-light-grey: #e2e2e2;
    --surge-grey: #a0a0a0;
    --surge-dark-grey: #303030;

    --lGrey: #CCCCCC11;
}

html,
body {
	height: 100%;
}

body {
	display: grid;
	place-content: center;
    overflow-y: hidden;
	font-family: 'Poppins', sans-serif;
	color: var(--txt-1);
	background-color: var(--bg-1);
}

#bgGrid{
    position: absolute;
    z-index: 0;
    background-image: linear-gradient(to right, var(--lGrey) 2px, transparent 2px),
            linear-gradient(to bottom, var(--lGrey) 2px, transparent 2px);
    background-size: 100px 100px;
    width: 100vw;
    height: 100vh;
}

h2{
    font-size: 2rem;
}

h1, h3, h2, p {
    text-align: center;
}

.flex{
    display: flex;
}

#stage{
    position: absolute;
    left: 30%;
}

.display{
    top: 20%;
    position: absolute;
}

#evoStages{
    left: calc(32.5% + 600px);
    position: absolute;
    top: 65%;
}

#leaderboard{
    top: 58%;
    left: calc(30vw - 200px);
}

.hoverClose{
    left: 16%;
}

#scorePts{
    position: absolute;
    font-weight: 600;
    left: calc(30vw - 200px);
}

@media (max-width: 1440px) {
    #leaderBoard {
        left: calc(25vw - 265px);
    }

    .hoverClose {
        left: calc(30% - 22vw);
    }
}

@media (max-width: 800px) {
    #leaderBoard {
        top: 1000px !important;
        left: calc(55vw);
    }

    .hoverClose { 
        left: calc(55vw);
    }

    .pointsTable {
        visibility: hidden;
    }
}